<!-- partial:project in home.antlers for showing the projects  -->
<div class="w-full sm:w-6/12 lg:w-6/12 p-2">
    <a href="/articles/{{ slug }}" style="background-image: url('{{ assets_field }}');" class="block full-img-block mb-4">
        <!-- Voeg hier inhoud toe, zoals tekst of een icoon -->
    </a>
    <div class="flex items-start justify-between mt-4">
        <div>
            <h2 class="font-semibold text-2xl mb-2">{{title}}</h2>
            <p class="text-sm text-gray-600">{{feature_image}}</p>
        </div>
        <div class="ml-4">
            <a href="/articles/{{ slug }}" class="bg-white text-black border-black border-2 rounded-full px-4 py-2 hover:bg-gray-200 transition-all duration-300 ease-in-out inline-block">
                <svg class="rtl:rotate-180 w-4 h-4 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>                
        </div>
    </div>
</div>