<!-- {{ user:login_form }}
<div class="flex flex-col max-w-2xl mx-auto">
 
    {{ if errors }}
        <div class="bg-red-300 text-white p-2">
            {{ errors }}
                {{ value }}<br>
            {{ /errors }}
        </div>
    {{ /if }}
 
    {{ if success }}
        <div class="bg-green-300 text-white p-2">
            {{ success }}<br>
        </div>
    {{ /if }}

        <label>Email</label>
        <input type="email" name="email" value="{{ old:email }}" />
    
        <label>Password</label>
        <input type="password" name="password" value="{{ old:password }}" />
    
        <button class="bg-red-500" type="submit">Log in</button>
    </div>
 
{{ /user:login_form }}
 -->


<!-- component -->
    <div class="container mx-auto">
        <div class="flex justify-center px-6 my-12">
            <!-- Row -->
            <div class="w-full xl:w-3/4 lg:w-11/12 flex justify-center">
                <!-- Col -->
                <div class="w-full lg:w-1/2 bg-white p-8 rounded-lg lg:rounded-l-none">
                    <h3 class="pt-4 text-2xl text-center">Log In</h3>
                    {{ user:login_form }}
                    {{ if errors }}
                            <div class="bg-red-300 text-white p-2">
                                {{ errors }}
                                    {{ value }}<br>
                                {{ /errors }}
                            </div>
                        {{ /if }}

                        {{ if success }}
                            <div class="bg-green-300 text-white p-2">
                                {{ success }}<br>
                            </div>
                        {{ /if }}
                    
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded-sm">
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                                Username
                            </label>
                            <input
                                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded-sm shadow-sm appearance-none focus:outline-green-700 focus:shadow-outline"
                                type="email" name="email" value="{{ old:email }}" 
                                placeholder="Username"
                            />
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                Password
                            </label>
                            <input
                                class="w-full px-3 py-2 mb-3 text-sm leading-tight text-gray-700 borde rounded-sm shadow-sm appearance-none focus:outline-green-700 focus:shadow-outline"
                                id="password"
                                type="password"
                                placeholder="******************"
                            />
                        </div>
                        <div class="mb-4">
                            <input class="mr-2 leading-tight" type="checkbox" id="checkbox_id" />
                            <label class="text-sm" for="checkbox_id">
                                Remember Me
                            </label>
                        </div>
                        <div class="mb-6 text-center">
                            <button
                                class="w-full px-4 py-2 font-bold text-white bg-blue-500 rounded-full hover:bg-blue-700 focus:outline-hidden focus:shadow-outline"
                                type="button"
                            >
                                Sign In
                            </button>
                        </div>
                        <hr class="mb-6 border-t" />
                    </form>
                    {{ /user:login_form }}
                </div>
            </div>
        </div>
    </div>

