<div class="flex items-center justify-center">
    <h2 class="text-xl font-bold">Aanmelden</h2>
</div>
<form action="{{ route:form.submit }}" method="POST" class="bg-white rounded-lg shadow-md p-6 w-full max-w-lg sm:w-96 sm:mx-auto">

    {{ csrf_field }}
    {{ if success }}
    <div class="bg-green-500 text-white p-4 rounded mb-4">
        Aanmelden gelukt
    </div>
    {{ /if }}


    <div class="mb-4">
        <label for="first-name" class="block text-gray-700 text-sm font-bold mb-2">Voornaam:</label>
        <input type="text" id="first-name" name="first_name" required 
               class="transition-all duration-300 ease-in-out shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-gray-300 focus:shadow-lg focus:scale-105" 
               placeholder="Je voornaam">
    </div>

    <div class="mb-4">
        <label for="last-name" class="block text-gray-700 text-sm font-bold mb-2">Achternaam:</label>
        <input type="text" id="last-name" name="last_name" required 
               class="transition-all duration-300 ease-in-out shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-gray-300 focus:shadow-lg focus:scale-105" 
               placeholder="Je achternaam">
    </div>

    <div class="mb-4">
        <label for="age" class="block text-gray-700 text-sm font-bold mb-2">Leeftijd:</label>
        <input type="number" id="age" name="age" required 
               class="transition-all duration-300 ease-in-out shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-gray-300 focus:shadow-lg focus:scale-105" 
               placeholder="Je leeftijd">
    </div>

    <div class="mb-4">
        <label for="comments" class="block text-gray-700 text-sm font-bold mb-2">Opmerkingen:</label>
        <textarea id="comments" name="comments" 
                  class="transition-all duration-300 ease-in-out shadow appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-gray-300 focus:shadow-lg focus:scale-105" 
                  rows="4" placeholder="Eventuele opmerkingen"></textarea>
    </div>

    <div class="flex items-center justify-center">
        <button type="submit" 
                class="text-white bg-black border-black border-2 w-full rounded-full px-5 py-3.5 text-sm font-medium hover:bg-gray-200">
            Aanmelden
        </button>
    </div>
</form>
